ul{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
a{
    color: aliceblue;
    text-decoration: none;
}
li{
    list-style-type:none ;
    display: inline;
} 
.outer{
    height:400px;
    width: 400px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height:100px;
    width:100px;
    background-color: white;
    display: flex;
}

